<h1><%= @task["title"] %></h1>

<p><strong>===> details :</strong> <%= @task["details"] %></p>
<p><strong>===> completed ? :</strong> <%= @task["completed"] %></p>


<%= link_to "Back to list", tasks_path %>
